In [2]:
age , name = 18,"Ci-EN"

In [3]:
age,name

(18, 'Ci-EN')

In [4]:
早餐=30

In [5]:
午餐=80

In [6]:
餐費=早餐+午餐

In [7]:
print(餐費)

110

In [8]:
三天餐費=餐費*3

In [9]:
print(三天餐費)

330

In [10]:
早餐=50

In [11]:
餐費=早餐+午餐

In [12]:
print(餐費)

130

In [14]:
d=2
e=3
f=4

In [15]:
d

2

In [16]:
e

3

In [17]:
f

4

In [18]:
週三氣溫=33

In [19]:
週四氣溫=32

In [20]:
週五氣溫=33

In [21]:
週六氣溫=33

In [23]:
四天溫度平均=(週三氣溫+週四氣溫+週五氣溫+週六氣溫)/4

In [25]:
print(四天溫度平均)

32.75

In [26]:
週三氣溫,週四氣溫,週五氣溫,週六氣溫=33,32,33,33

In [29]:
四天溫度平均=(週三氣溫+週四氣溫+週五氣溫+週六氣溫)/4

In [31]:
print(四天溫度平均)

32.75

In [33]:
print((週三氣溫+週四氣溫+週五氣溫+週六氣溫)/4)

32.75

In [34]:
日花費=300

In [35]:
周花費=日花費*7

In [36]:
月花費=周花費*4

In [37]:
print(月花費)

8400