In [1]:
c=range(3,8,1)#3,4,5,6,7

In [2]:
d=range(3,8,2)#3,5,7

In [3]:
e=range(8,3,-1)#8,7,6,5,4

In [4]:
print(c,d,e)

range(3, 8) range(3, 8, 2) range(8, 3, -1)

In [5]:
print(list(c))

[3, 4, 5, 6, 7]

In [6]:
print(list(d))

[3, 5, 7]

In [7]:
print(list(e))

[8, 7, 6, 5, 4]

In [8]:
c1=list(c)

In [9]:
print(c1)

[3, 4, 5, 6, 7]

In [10]:
print(type(c))

<class 'range'>

In [11]:
print(type(c1))

<class 'list'>

In [12]:
for i in range (5):
    print(i)

0
1
2
3
4

In [13]:
c=range(0,9,1)

In [14]:
print(list(c))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [15]:
d=range(1,10,1)

In [16]:
print(list(d))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
e=range(1,10,2)

In [18]:
print(list(e))

[1, 3, 5, 7, 9]

In [19]:
f=range(10,1,-2)

In [20]:
print(list(f))

[10, 8, 6, 4, 2]

In [21]:
for n in range(1,6,1):
    print(n)

1
2
3
4
5

In [22]:
for n in range(3):
    print(n,end=",")

0,1,2,

In [23]:
sum = 0
for n in range(3):
    sum = sum+n
print(sum)

3

In [24]:
sum = 0
for n in range(11):
    sum = sum+n
print(sum)

55

In [25]:
sum = 0
for n in range(51):
    sum = sum+n
print(sum)

1275

In [3]:
sum = 0
none=int(input("請輸入正整數"))
print("請輸入正整數:",none) 
for n in range(1,none+1,1):
    sum = sum+n
    print("1到",n,"的整數合為:",sum)

請輸入正整數: 10
1到 1 的整數合為: 1
1到 2 的整數合為: 3
1到 3 的整數合為: 6
1到 4 的整數合為: 10
1到 5 的整數合為: 15
1到 6 的整數合為: 21
1到 7 的整數合為: 28
1到 8 的整數合為: 36
1到 9 的整數合為: 45
1到 10 的整數合為: 55

In [4]:
sum = 0
for n in range(0,101,2):
    sum = sum+n
print(sum)

2550

In [5]:
c=range(10,0,-1)
print(list(c),"倒數結束!")

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1] 倒數結束!

In [14]:
a=[n**2 for n in range(1,11)]
print(a)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [15]:
起始=3
遞增=4
Max=30
z=[]
for n in range(起始, Max, 遞增):
    z.append(n)
print(z)

[3, 7, 11, 15, 19, 23, 27]

In [17]:
start=10
end=50
閾值=25
for n in range(start, end + 1):
    if n>閾值:
        print(n)

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50